
/* generali */

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

img{
    width: 100%;
    display: block;
}

.red {
    color: red;
}

.inline-block{
    display: inline-block;
}


/* header */

.header-container {
    width: 100%;
    min-height: 100px;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.img-logo{
    width: 100px;

}

.header-container div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.header-container div span{
    color: #ffffff;
    font-size: 20px;
}

/* main */

main {
    margin-left: 100px;
    margin-right: 100px;
}

.container{
    margin-top: 50px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.colonna{
    width: calc(100% / 3 - 20px);
    position: relative;
}

.cuore {
    background-color: white;
    color: #000;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 5px;

}

.sconto{
    padding: 5px 10px;
    background-color: crimson;
    color: #ffffff;
    position: absolute;
    bottom: 80px;
}

.disponibilità{
    padding: 5px 10px;
    background-color: rgb(20, 133, 29);
    color: #ffffff;
    position: absolute;
    bottom: 80px;
    left: 60px;

}

/* main hover*/

.none{
    display: none;
}


.colonna:hover .hover{
    display: none;
}

.colonna:hover .none{
    display: block;
}

/* footer */

.back-color{
    margin-top: 50px;
    background-color: rgb(55, 53, 53);
    width: 100%;
    min-height: 100px;
    color: #ffffff;

}

.footer-container{
    min-height: 100px;
    margin: 0 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container div span{
    font-size: 25px;
}

.footer-container div:last-of-type> *{
    margin-left: 5px;

}

/* bonus */

.cuore:hover{
    color: red;

}



